body {
    font-family: 'Inika', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

* {
    box-sizing: border-box;
  }

.header {
    background-color: #EDF2EC;
    height: 134px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 109px 42px 111px;
    

}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    
  }
  
  .nav-item {
    margin-left: 46px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
  }

  .home-item {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
  }

  .logo {
    width: 79.17px;
    height: 21.04px;  
  }

  .nav-link:link, .nav-link:visited {
    text-decoration: none;
    color: #010201;
  }

  .nav-link:hover {
    color: #E06733;
  }

  .main {
    margin: 0px;
    padding: 0px;
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  .section {
    padding: 62px 109px 62px 109px;
  }
  
  
  .section-home {
    background-color: #EDF2EC;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .section-home-title {
    padding-left: 20px;
    width: 50%;
  }
  h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
  }
  .span {
    color: #499A18;
  }
  p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
  }
  .button {
    width: 158px;
    height: 44px;
    margin-top: 20px;
    border: 1px solid #E06733;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .logo-container {
    width: 50%;
    display: flex;
    justify-content: flex-start;
  }

  .logo-home {
    max-width: 450px;
    width: 448.8px;
    height: 407.36px;

  }
  .about-section {

    display: flex;
    justify-content: space-between;
  }
  .section-about-title {
    width: 50%;
  }

  .logo-about-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  } 

  .logo-about {
    width: 464px;
    height: 479px;
  }
  h2 {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #E06733;
  }
  .section-service {
    background-color: #EDF2EC;
    width: 100%;
  }

  .service-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
    margin-top: -40px;
  }
  .service-title{
    width: 30%;
    margin-right: 55px;
  }
  .service-botton {
    width: 161px;
    height: 50px;
    border: 1px solid #E06733;
    border-radius: 5px;
    color: #E06733;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin-right: 20px;
  }
  .service-botton:hover {
    color: white;
    background-color: #E06733;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .service-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .service-item-content {
    width: 30%;
    margin-bottom: 55px;
  }
  .logo-service {
    width: 329px;
    height: 350px;
    
  }
  h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
    text-align: center;
  }

  .service-paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    text-align: center;
  }

  .service-item-title {
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
    width: 329px;
  }

  .prices-accordion {
    width: 332px;
    height: 282.01px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    margin-top: 60px;
  }
  .accordion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  summary::marker {
    display: none;
  }

  .accordion-item{
    margin: 0px;
    padding: 0px;
  }
  .accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 50px;
    background: #EDF2EC;
    border-radius: 20px;
    margin: 34px 41px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: center;
    list-style: none;
    padding-left: 40px;
    padding-right: 40px;
  }
  .logo-accordion {
    width: 16px;
    height: 16px;
  }

  .price-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .logo-price-item {
    width: 152px;
    height: 174.99px;
  }

  .price-section-right {
    text-align: right;
    width: 50%;
  }

  .text-price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000000;
    margin-bottom: 38px;
  }
  .title-price {
    margin-bottom: 39px;
  }

  .section-contacts {
    width: 100%;
    background-color: #EDF2EC;
    padding-bottom: 0px;
  }

  .contacts {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .logo-woman {
    width: 400px;
    height: 496.99px;
  }
  
  .contacts-title {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    margin-top: 0px;
    
  }
  
  .contacts-item {
    width: 450px;
    height: 50px;
    margin-top: 148px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    padding: 0px;
  }

  .contacts-item-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
    list-style: none;
    padding: 5px 35px 5px 20px;
  }

  .accordeon-contacts{
    margin-left: 64px;
  }

  footer {
    padding: 40px 109px;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-data {
    display: flex;
  }

  .footer-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    padding-right: 20px;
    margin: 0px;
  }

  .logo-footer {
    width: 32px;
    height: 32px;
    margin-right: 20px;
  }

  .social-list {
    text-align: center;
  }
 