body {
    font-family: 'Inika', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
  }

.header {
    background-color: #EDF2EC;
    height: 134px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 109px 42px 111px;

}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  .nav-item {
    margin-left: 46px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
  }

  .home-item {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
  }

  .logo {
    width: 79.17px;
    height: 21.04px;  
  }

  .nav-link:link, .nav-link:visited {
    text-decoration: none;
    color: #010201;
  }

  .nav-link:hover {
    color: #E06733;
  }

  .main {
    border: 1px solid red;
    margin: 0px;
    padding: 0px;
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  
  .section-home {
    background-color: #EDF2EC;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
  }
  .span {
    color: #499A18;
  }
  p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
  }
  .button {
    width: 158px;
    height: 44px;
    border: 1px solid #E06733;
    border-radius: 10px;
  }

  .logo-home {
    width: 448.8px;
    height: 407.36px;
    margin: 62px 0 62px 109px;
  }
  .about-section {
    display: flex;
    justify-content: space-between;
  }
  .logo-about {
    width: 464px;
    height: 479px;
  }
  h2 {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #E06733;
  }
  .footer {
    border: 1px solid green;
  }