body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    color: #542427;
}

* {
    box-sizing: border-box;
  }
  
  .header {
    background-color: #4b665e;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px; 
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  .nav-item {
    padding: 0 20px;
    line-height: 50px;
    
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
    position: relative;
  }
  
  .nav-link:hover {
    color: white;
  }
  .nav-link:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color:  white;
    content: "";
    transition: width 0.5s ease-out ;
    bottom: -5px;
  }

  .nav-link:hover::after {
    width: 100%;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
  }

  .section {
    width: 45%;
    padding: 10px;
    padding-bottom: 40px;
    border-bottom: 1px solid #542427;
    margin: 0 20px;
  }

  .section-profile {
    display: flex;
    justify-content: space-around;
    border-bottom: 10px solid #4b665e;
    width: 100%;
    padding: 40px 30px 35px;
  }
  .section-profile-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
  }
  .section-profile-logo {
    width: 230px;
    height: 230px;
    border-radius: 50%;
  }
  .section-title {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 23px;
    color: #4b665e;
  }
  .section-subtitle {
    font-size: 23px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 3px;
  }
  .main-title {
    font-size: 30px;
    letter-spacing: 10px;
    color: #542427;
  }
  .section-list {
    list-style: none;
    list-style-type: circle;
  }
  .section-item a {
    text-decoration: none;
  }
  .section-item a:link {
    color:#4b665e;
  }
  .section-item a:visited {
    color: #4b665e;
  }
  .section-item a:hover, .section-item a:active {
    color: #542427;
  }
  .section-item {
    margin-bottom: 10px;
  }
  .section-education {
    border-bottom: 0;
  }
  .section-english {
    border-bottom: 0;
  }
  .footer {
    background-color: #4b665e;
    color: white;
    padding: 20px;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
  }
  
  .rss {
    width:120px;
    height: 50px;
    background-image: url('./assets/svg/rs_school_js.svg');
    background-repeat: no-repeat;
    background-size: contain;
    
  }
  
  .github {
    color: white;
    text-decoration: none;
    line-height: 45px;
    margin-left: 10px;
  }
  .github:link {
    text-decoration: none;
    color: white;
  }
  .github:visited {
    text-decoration: none;
    color: white;
  }
  